
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

*{
  font-family: 'Inika', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {

  --bg-color: #432941;
  --txt-color: #ffffff;
  --accent-color:#f8c0c9;
  --secondary-color: #a98346;

}

body{
  background-color: var(--bg-color);
}
