.journal-container{
    text-align: center;
    color: var(--txt-color);
    height: 100vh;
    
    
}
.journal-main{
    display: flex;
   flex-direction: column;;
    justify-content: center;
}

.journal-box{
    margin: 0 auto;
    width: 90%;
    height: 100vh;
    
}


h3{
    padding-top: 1rem;
    font-weight: 100;
}



.journal-reading{
    margin-bottom: 4rem;
}

.journal-data{
    color: var(--accent-color);
    font-weight: regular;
}

.journal-text{
    font-size: 1rem;
    color: var(--txt-color);
    font-style: italic;
    
}

@media (max-width: 767px) {

    .journal-data, .journal-text{
        text-align: center;
    }
     
}
