.journal-container{
    text-align: center;
    color: var(--txt-color);
    overflow: hidden;
}

h3{
    padding-top: 3rem;
    font-weight: 100;
}

.journal-circle{
    position: absolute;
    width: 40rem;
    left: 70%;
    top:15%;
    opacity: 0.5;
    z-index: -1;
}

.journal-box{
    margin: 0 auto;
    width: 80%;
   
    
}

.journal-reading{
    margin-bottom: 4rem;
}

.journal-cards{
    display: flex;

}

.journal-data{
    color: var(--accent-color);
    font-weight: regular;
}

.journal-text{
    font-size: 1rem;
    color: var(--txt-color);
    font-style: italic;
}