.secondary-page{
    display: flex;
    flex-direction: column;

}

.reading-container {
    position: relative;
    text-align: center;
    justify-content: center;
} 

.middle-circle {
    position: absolute;
    width: 25rem;
    top: 15%;
    left: 35%;
    opacity: 0.3;
    z-index: -1;
}


.cards-reading{
    margin: 1rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card-reveal{
    width: 20%;
}


.card-name{
    color: var(--accent-color);
    font-weight: bold;
}

.card-img{
      width: 40%;
}

.card-meaning{
    color: var(--accent-color);
    font-size: 1rem;

}

