.deck-card-container{
    margin-top: 2rem;
}

.card-back{
    width: 10%;
    margin-left: 0.5rem;
}

.card-btn{
    border:none;
    width: 10%;
    height: 100%;
    background-color: var(--bg-color);
    margin-left: 0.8rem;

}
.img-btn{
    width: 100%;
    height:100%;
}