.card-container {
    display: flex;
    margin: 4rem 0;
    gap: 2rem;

  }
  
  .past,
  .present,
  .future {
    width: 127px;
    height: 297px;
    border: 0.5px solid white;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.card-reverse{
  width: 108%;
}