.single-card {
  width: 165px;
  height: 345px;
  border: 1px dotted white;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reverse-img {
  height: 386px;
  margin: 9rem, 4rem;

}
